<!DOCTYPE html>
html(lang="en")
head
  title Front Porch Coalition
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="./assets/img/favicons/favicon.ico")
  link(rel="stylesheet", href="assets/css/main.css")
body
  .page-home
    section
      h1.page-title DevTips<br>Good stuff
      
    section
      h1.page-title Untitled Stuff
  
  
  script(src="./vendors/jquery/dist/jquery.min.js")
  script(src="./assets/js/app.js")
